@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Open+Sans+Condensed:wght@300&display=swap");
body {
  background-color: white;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/**************************************
 LAYOUT
**************************************/
.presskit {
  position: relative;
  display: grid;
  grid-template-columns: 14em auto;
  grid-template-rows: 0fr 1fr;
  max-width: 920px;
  margin: auto;
  padding-bottom: 4rem;
}

.presskit .footer {
  margin-top: 2rem;
  grid-column: 1/3;
  font-size: 0.7rem;
  text-align: right;
  opacity: 0.33;
}

.presskit .factsheet {
  grid-column: 1/2;
}

.presskit .videos,
.presskit .images,
.presskit .credits {
  grid-column: 2/3;
}

.presskit .mainInfo {
  grid-column: 2/3;
  grid-row: 1/3;
}

.presskit h2, .presskit h3, .presskit h4, .presskit h5, .presskit h6 {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed", "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.presskit h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 3em;
}

.presskit img {
  max-width: 100%;
}

.presskit menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.presskit a.zip.off {
  display: none;
}

.presskit a.zip.on {
  display: block;
  position: absolute;
  top: 2.3rem;
  right: 0;
  padding: 4px 10px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-size: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  opacity: 0.8;
}

.presskit a.zip.on:hover {
  text-decoration: none;
  opacity: 1;
  border-color: black;
}

.presskit ul li + li {
  margin-top: 1em;
}

.presskit ul ul {
  margin-top: 1em;
  margin-bottom: 1em;
}

.presskit dl dt, .presskit dl dd {
  margin: 0;
  padding: 0;
}

.presskit dl dt {
  font-weight: bold;
  font-family: "Open Sans Condensed", "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

.presskit dl dd {
  margin-bottom: 1rem;
  padding-left: 0.3em;
}

/**************************************
 Specific sections designs
**************************************/
.presskit a:link, .presskit a:visited {
  color: #f14040;
  text-decoration: none;
}

.presskit a:hover {
  text-decoration: underline;
}

.presskit menu.main {
  margin-bottom: 1em;
}

.presskit .mainInfo {
  text-align: justify;
}

.presskit .images ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
}

.presskit .images ul li {
  margin: 0 !important;
}

.presskit .images ul a {
  font-size: 0;
}

/**************************************
 MOBILE
**************************************/
@media only screen and (max-width: 920px) {
  .presskit {
    grid-template-columns: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  .presskit menu.main {
    display: none;
  }
  .presskit .block {
    grid-column: 1/2;
  }
  .presskit a.zip.on {
    right: 16px;
  }
  .presskit a.zip.on .optional {
    display: none;
  }
  .presskit .images ul {
    grid-template-columns: auto;
  }
}
